# Cordova
/platforms
/plugins
/node_modules
/www
www

GoogleService-Info.plist
GoogleService-Info.plist.*
google-services.json
google-services.json.*
app-release.apk
android.keystore
android_fornecedor_pb.keystore
app-release.apk.idsig